babel==2.17.0
backrefs==5.8
cachecontrol==0.14.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
filelock==3.18.0
ghp-import==2.1.0
gitdb==4.0.12
gitpython==3.1.44
idna==3.10
jinja2==3.1.6
markdown==3.7
markupsafe==3.0.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-glightbox==0.4.0
mkdocs-material==9.6.8
mkdocs-material-extensions==1.3.1
mkdocs-rss-plugin==1.17.1
msgpack==1.1.0
packaging==24.2
paginate==0.5.7
pathspec==0.12.1
platformdirs==4.3.6
pygments==2.19.1
pymdown-extensions==10.14.3
python-dateutil==2.9.0.post0
pyyaml==6.0.2
pyyaml-env-tag==0.1
requests==2.32.3
six==1.17.0
smmap==5.0.2
tzdata==2024.2
urllib3==2.3.0
watchdog==6.0.0
